In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [20]:
data=pd.read_csv('C:/Users/DELL/Downloads/Sales_add.csv')

In [21]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [22]:
data['Sales_before_digital_add(in $)']

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [5]:
data['Sales_After_digital_add(in $)']

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [6]:
data['Sales_before_digital_add(in $)'].describe()

count        22.000000
mean     149239.954545
std       14844.042921
min      130263.000000
25%      138087.750000
50%      147444.000000
75%      157627.500000
max      178939.000000
Name: Sales_before_digital_add(in $), dtype: float64

In [7]:
data['Sales_After_digital_add(in $)'].describe()

count        22.000000
mean     231123.727273
std       25556.777061
min      187305.000000
25%      214960.750000
50%      229986.500000
75%      250909.000000
max      276279.000000
Name: Sales_After_digital_add(in $), dtype: float64

1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

Here we are performing independent t-test.
Assuming alpha as 0.05
H0=Null hypothesis=There is an increase in sales after stepping into digital marketing
H1=Alternate hypothesis=There is no increase in sales after stepping into digital marketting
Degrees of freedom=22+22-2=42

In [8]:
sales_bda = data['Sales_before_digital_add(in $)']
sales_ada = data['Sales_After_digital_add(in $)']

In [9]:
print(np.mean(sales_bda), np.mean(sales_ada))

149239.95454545456 231123.72727272726

In [10]:
tvalue, pvalue = stats.ttest_ind(sales_bda,sales_ada)

In [11]:
display(tvalue,pvalue)

-12.995084451110877

2.614368006904645e-16

In [12]:
crit_val=stats.t.ppf(1-0.05,42)

In [13]:
crit_val

1.6819523559426

In [14]:
alpha=0.05
if (tvalue>crit_val and pvalue < alpha):
    print('Reject Null Hypothesis. ie,there is an an increse in sales')
else:
    print('Reject Alternate Hypothesis. ie,there is no increase in sales')

Reject Alternate Hypothesis. ie,there is no increase in sales

The company needs to check whether there is any dependency between thefeatures “Region” and “Manager”

Here we are performing the Chi-Squared test
alpha=0.05
H0=Region and manager are dependent
H1=Region and manager are not dependent

In [15]:
data.groupby(['Region','Manager']).count()

                        Month  Sales_before_digital_add(in $)  \
Region     Manager
Region - A Manager - A      4                               4
           Manager - B      3                               3
           Manager - C      3                               3
Region - B Manager - A      4                               4
           Manager - B      1                               1
           Manager - C      2                               2
Region - C Manager - A      1                               1
           Manager - B      3                               3
           Manager - C      1                               1

                        Sales_After_digital_add(in $)
Region     Manager
Region - A Manager - A                              4
           Manager - B                              3
           Manager - C                              3
Region - B Manager - A                              4
           Manager - B                              1
           Manager - C                              2
Region - C Manager - A                              1
           Manager - B                              3
           Manager - C                              1

In [16]:
data_crosstab = pd.crosstab(data['Region'],data['Manager'])
                               
print(data_crosstab)

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [17]:
stat, p, dof,ecpected = stats.chi2_contingency(data_crosstab)
print(stat,p,dof)

3.050566893424036 0.5493991051158094 4

In [18]:
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependency between Region and Manager (reject H0)')
else:
    print('There is no dependency between region and manager (H1 holds true)')

p value is 0.5493991051158094
There is no dependency between region and manager (H1 holds true)